<div class="report-meta">
  <p class="report-kicker">{{ .Params.course }} Final Report</p>
  <p class="report-byline">
    <span>{{ delimit .Params.authors " and " }}</span>
    <span aria-hidden="true">/</span>
    <time datetime="{{ .Date.Format "2006-01-02" }}">
      {{ .Date.Format "January 2006" }}
    </time>
  </p>
</div>

<div class="report-layout">
  <aside class="report-toc" aria-label="Table of contents">
    <p class="toc-label">On this page</p>
    {{ .TableOfContents }}
  </aside>

  <article class="report-article">
    {{ .Content }}
  </article>
</div>
