{{ define "main" }}
  {{ .Content }}
  <content>
    <ul class="blog-posts">
      {{ $mainSection := index .Site.MainSections 0 }}
      {{ range (where .Site.RegularPages "Section" $mainSection) }}
        <li>
          <span>
            <i>
              <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
                {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
              </time>
            </i>
          </span>
          {{ if .Params.link }}
            <a href="{{ .Params.link }}" target="_blank">{{ .Title }} ↪</a>
          {{ else }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </li>
      {{ else }}
        <li>No posts yet.</li>
      {{ end }}
    </ul>
  </content>
{{ end }}
